<p id="notice"><%= notice %></p>

<h1>Powers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="thOptions">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @powers.each do |power| %>
      <tr>
        <td><%= power.name %></td>
        <td class="options">
          <%= link_to '<i class="material-icons show" title="Show">remove_red_eye</i>'.html_safe, power %>
          <%= link_to '<i class="material-icons edit" title="Edit">edit</i>'.html_safe, edit_power_path(power) %>
          <%= link_to '<i class="material-icons delete" title="Delete">delete</i>'.html_safe, power, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new">
  <%= link_to '<i class="material-icons">add</i>New Power'.html_safe, new_power_path %>
</div>
