<!DOCTYPE html>
<html>
  <head>
    <title>Spacerails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <ul>
        <%# https://css-tricks.com/fighting-the-space-between-inline-block-elements %>

        <li><%= link_to "planets", planets_path %></li><!--
        --><li><%= link_to "aliens", aliens_path %></li><!--
        --><li><%= link_to "powers", powers_path %></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
