<!DOCTYPE html>
<html>
  <head>
    <title>Spacerails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="menu">
      <%= link_to "planets", planets_path %>
      <%= link_to "aliens", aliens_path %>
      <%= link_to "powers", powers_path %>
    </div>

    <%= yield %>
  </body>
</html>
