<p id="notice"><%= notice %></p>

<h1>Aliens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Planet</th>
      <th class="thOptions">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @aliens.each do |alien| %>
      <tr>
        <td><%= alien.name %></td>
        <td><%= alien.age %></td>
        <td><%= alien.planet.name %></td>
        <td class="options">
          <%= link_to '<i class="material-icons show">remove_red_eye</i>'.html_safe, alien %>
          <%= link_to '<i class="material-icons edit">edit</i>'.html_safe, edit_alien_path(alien) %>
          <%= link_to '<i class="material-icons delete">delete</i>'.html_safe, alien, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="new">
  <%= link_to '<i class="material-icons">add</i>New Alien'.html_safe, new_alien_path %>
</div>
